<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.biometric.serv.mapper.FaceFturMapper">

    <select id="streamScanAllFeatures"
            resultType="com.biometric.serv.entity.FaceFtur"
            fetchSize="-2147483648"
            resultSetType="FORWARD_ONLY">
        SELECT
            FACE_BOSG_ID, PSN_TMPL_NO, FACE_FTUR_DATA, FACE_CRTE_TMPL_TYPE, ALGO_VER_ID
        FROM
            bosg_face_ftur_d
        WHERE
            VALI_FLAG = '1'
            AND MOD(CRC32(PSN_TMPL_NO), #{totalShards}) = #{shardIndex}
        ORDER BY
            PSN_TMPL_NO
    </select>

</mapper>