<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.biometric.serv.mapper.GrpPsnMapper">

    <select id="streamScanAllRelations"
            resultType="com.biometric.serv.entity.GrpPsn"
            fetchSize="-2147483648"
            resultSetType="FORWARD_ONLY">
        SELECT
            GRP_ID, PSN_TMPL_NO
        FROM
            bosg_cpr_grp_psn_b
        WHERE VALI_FLAG = '1'
           AND MOD(CRC32(PSN_TMPL_NO), #{totalShards}) = #{shardIndex}
    </select>

</mapper>