<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.biometric.serv.mapper.PsnTmplMapper">
    <select id="streamScanPsnTmpls"
            resultType="com.biometric.serv.entity.PsnTmpl"
            fetchSize="-2147483648"
            resultSetType="FORWARD_ONLY">
        SELECT
            PSN_TMPL_NO
        FROM
            bosg_psn_tmpl_d
        WHERE
            MOD(CRC32(PSN_TMPL_NO), #{totalShards}) = #{shardIndex}
    </select>
</mapper>
